{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    {% if is_granted('ROLE_TEACHER')%}
        TEACHER Dicipline(s) : <br>
        {% if discipline_teacher is empty %}
            Not discipline for the moment
        {% else %}
            {% for discipline_teachers in discipline_teacher %}
                {{ discipline_teachers }}<br>
            {% endfor %}
        {% endif %}
        STUDENT REGISTER TO YOUR DISCIPLINE:<br>
        {% for discipline_teachers in discipline_teacher %}
            {{ discipline_teachers }}<br>
        {% endfor %}
        {% for student_registers in student_register %}
            {{ student_registers }}<br>
        {% endfor %}
        {% for student_users in student_user %}
            {{ student_users }}<br>
        {% endfor %}


    {% else %}
        <br><br>
        REGISTER DISCIPLINE:
        {% if disciplines is empty %}
            Not discipline register for the moment
        {% else %}
        <br>{% for discipline in disciplines %}
        <a href="{{ path('discipline',{'id':discipline.id}) }}"> {{ discipline }}<br></a>
            {% endfor %}
         {% endif %}
        <br>
        All Disciplines:<br>
        {% if disciplines is empty %}
            Not discipline  for the moment
        {% else %}
        {% for discipline in disciplines %}
            {{ discipline }}<br>
        {% endfor %}
            {% endif %}
        <br>
        Your Disciplines:
        <br>
        {% if disciplines_user is empty %}
            Not discipline for the moment
            {% else %}
            {% for disciplines_users in disciplines_user %}
                    {{ disciplines_users }}<br>
            {% endfor %}
        {% endif %}


        <br>NOTES:<br>
        {% for notes in note %}
            {{ notes }}/20<br>
        {% endfor %}

    {% endif %}

{% endblock %}